.footer {
    background-color: #0b1121;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    margin: 20px 40px 20px 40px;
  
    h1 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }
  
    .content {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
  
      div {
        text-align: left;
  
        i {
          margin-right: 10px;
        }
  
        p {
          margin: 5px 0;
        }
      }
    }
  
    .bottom {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      i {
        margin-right: 10px;
      }
    }
  }
  