.page-end {
  $dark-bg: #0b1121;
  $light-color: #fff;
  $spacing-base: 20px;
  $spacing-wide: 40px;
  $radius: 10px;
  $font-large: 24px;
  
  background: $dark-bg;
  color: $light-color;
  padding: $spacing-base 0;
  border-radius: $radius;
  margin: $spacing-base $spacing-wide;
  text-align: center;
  
  .primary-heading {
    margin: 0;
    font: {
      size: $font-large;
      weight: 700;
    }
  }
  
  .info-sections {
    display: flex;
    margin-top: $spacing-base;
    justify-content: space-around;
    
    .info-block {
      text-align: left;
      
      .icon {
        margin-right: 10px;
      }
      
      .text-line {
        margin: 5px 0;
      }
    }
  }
  
  .credits-area {
    margin-top: $spacing-base;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .credits-icon {
      margin-right: 10px;
    }
  }
}