// components/_form.scss
.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  
    h3 {
      width: 70%;
      font-size: 20px;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: 400;
      color: #888;
      font-size: 16px;
    }
  
    input {
      width: 75%;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-bottom: 1px solid #ddd;
      border-radius: 4px;
    }
  
    button {
      width: 15%;
      text-align: left;
      padding: 10px;
      margin: 20px 20px 0 0;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      align-content: flex-start;
      line-height: 1.5;
      white-space: normal;
    }
  
    .form-elements {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  