// global.scss
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
    max-width: auto;
    height: 100%;
  }
  
  .container {
    margin: 0px 40px 60px 40px;
    padding: 10px 0 10px 0;
  }
  

.blue{
  color:blue;
}