.team-display {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 32px;

  .team-content {
    display: flex;
    flex-direction: column;
    margin: 80px 0 80px 108px;
    gap: 32px;

    .team-header {
      font-size: 36px;
      font-weight: 700;
      line-height: 51.84px;
      letter-spacing: 0.32645100355148315px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 0;
    }

    .team-description {
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.23999999463558197px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 0;
    }

    .team-stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
      padding-top: 8px;
      padding-bottom: 8px;

      .stat-item {
        display: flex;
        flex-direction: column;
        width: 33%;

        .stat-number {
          font-size: 48px;
          font-weight: 700;
          line-height: 69.12px;
          letter-spacing: 0.32645100355148315px;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          margin: 0;
        }

        .stat-label {
          font-size: 15px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.23999999463558197px;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          margin: 0;
          color: #667085;
        }
      }
    }
  }

  .media-container {
    margin: 80px 108px 80px 0;
    position: relative;
    width: auto;
    height: auto;

    .team-visual {
      box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.5);
      z-index: -1;
    }

    .media-control {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      border-radius: 35px;
    }
  }
}