* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    padding: 20px;
}

header {
    margin-bottom: 30px;
}

main {
    margin-bottom: 40px;
}

footer {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}