@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: red !important;
}


/* Paragraph styles */
.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    font-family: 'Inter', sans-serif;
}

/* Headings */
.heading-1 {
    font-size: 64px;
    color: #1F3F68;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.heading-2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.heading-3 {
    font-size: 36px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.heading-4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

