@import 'global/global';
@import 'components/header';
@import 'components/logo';
@import 'components/nav';
@import 'components/contact-info';
@import 'components/menu-icon';
@import 'components/mobile-menu';
@import 'components/footer';
@import 'sections/intro';
@import 'sections/development-cycle';
@import 'global/media';
@import 'components/form';
@import 'sections/projects';
